body {
  background-color: #000000;
  grid-template-rows: 1fr;
}

body > .button {
  color: #ffffff;
}

div#about {
  background: #111111;
}

div#contact {
  background: #111111;
}

div#cloud {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  user-select: none;
}

div#cloud > * {
  width: 100%;
  align-self: center;
  position: relative;
  top: 0vh;
  left: 0vw;
  cursor: grab;
  box-shadow: 0 0 30px 5px #222222;
  transition:
    opacity,
    box-shadow 0.3s ease-in-out;
}

div#cloud > .dragging {
  opacity: 0.8;
  box-shadow: 0 0 30px 10px #666666;
}

p {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

p#topHeading {
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: start;
  justify-self: center;
  margin-top: 5em;
  z-index: 99;
}

p#influences {
  grid-column: 5 / -5;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  margin-bottom: 5em;
  text-align: center;
  z-index: 99;
}

p#influences span {
  white-space: nowrap;

  &:not(:last-child):after {
    content: " . ";
  }
}

@keyframes wiggle1 {
  0% {
    transform: rotate(0deg) translateY(0.3vh) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(0.3vh) rotate(-360deg);
  }
}

@keyframes wiggle2 {
  0% {
    transform: rotate(360deg) translateX(-0.7vw) rotate(-360deg);
  }

  100% {
    transform: rotate(0deg) translateX(-0.7vw) rotate(0deg);
  }
}

@keyframes wiggle3 {
  0% {
    transform: rotate(360deg) translateX(0.4vw) translateY(-0.1vh)
      rotate(-360deg);
  }

  100% {
    transform: rotate(0deg) translateX(0.4vw) translateY(-0.1vh) rotate(0deg);
  }
}
