body {
  background-color: #000000;
  margin: 20px;
  min-height: calc(100vh - 40px)
}

body > .button {
  color: #ffffff;
}

div#about {
  background: #111111;
}

div#contact {
  background: #111111;
}
