body {
  grid-template-rows: 1fr;
}

body > .button.secondary {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  z-index: 999999999;
}

* {
  cursor: none;
}

div#cloudContainer {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  background-color: #000000;
  justify-content: center;
  align-content: center;
}

div#cloud {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  user-select: none;
}

div#cloud > * {
  width: 100%;
  align-self: center;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 0 30px 5px #222222;
  transition:
    opacity,
    box-shadow 0.3s ease-in-out;
  grid-row: 1;
}

div#cloud > .dragging {
  opacity: 0.8;
  box-shadow: 0 0 30px 10px #666666;
}

p {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: difference;
}

p#topHeading {
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: start;
  justify-self: center;
  margin-top: 5em;
  z-index: 99;
  text-align: center;
}

p#influences {
  grid-column: 5 / -5;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  margin-bottom: 5em;
  text-align: center;
  z-index: 99;
}

p#influences span {
  white-space: nowrap;

  &:not(:last-child):after {
    content: " . ";
  }
}

@keyframes wiggle1 {
  0% {
    transform: rotate(0deg) translateY(0.6vh) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(0.6vh) rotate(-360deg);
  }
}

@keyframes wiggle2 {
  0% {
    transform: rotate(360deg) translateX(-1.4vw) rotate(-360deg);
  }

  100% {
    transform: rotate(0deg) translateX(-1.4vw) rotate(0deg);
  }
}

@keyframes wiggle3 {
  0% {
    transform: rotate(360deg) translateX(0.8vw) translateY(-0.2vh)
      rotate(-360deg);
  }

  100% {
    transform: rotate(0deg) translateX(0.8vw) translateY(-0.2vh) rotate(0deg);
  }
}

#cursor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  grid-column: 10 / 12;
  align-self: end;
  position: fixed;
  top: 70%;
  left: 70%;
  transform: translate(-50%, calc(-50% + 10px));
  pointer-events: none;
  z-index: 999999999;
}

@media screen and (orientation: portrait) {
  :root {
    --title-size: 18px;
  }

  body {
    grid-template-rows: calc(100dvh - 50px - 30px - 40px) 50px 30px;
  }

  * {
    cursor: auto;
  }

  div#cloudContainer {
    overflow: scroll;
    width: calc(100dvw - var(--body-padding) * 2);
    height: calc(100dvh - var(--body-padding) * 2);
  }

  div#cloud {
    grid-template-columns: repeat(20, 15dvw);
  }

  body > .button.secondary {
    background-color: #ffffff;
    color: #000000;
  }

  p#topHeading {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 7em;
  }

  p#influences {
    grid-row: 2;
    margin-bottom: 1em;
    pointer-events: none;
  }

  #cursor {
    display: none;
  }
}
