nav a {
  color: #666666;
}

nav a.active {
  color: #000000;
  font-weight: 700;
  transition: all 0.2s;
}

body {
  padding-top: calc(50vh - var(--title-size));
  grid-template-rows: unset;
  height: unset;
}

div.content {
  grid-column: 3 / -3;
  display: grid;
  grid-template-columns: subgrid;
}

.projectTitle {
  position: sticky;
  top: 34px;
  grid-column: 1 / -1;
  margin-top: 0;
  font-family: ArialBold, sans-serif;
  line-height: 120%;
  text-transform: uppercase;
  font-size: var(--title-size);
  z-index: 99;
  mix-blend-mode: difference;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
  height: 3em;
  grid-row: 1;
}

.projectTitle > .bt {
  opacity: 0;
}

.projectTitle.first {
  height: 0;
  margin-bottom: 0;
}

.projectTitle.first > .bt {
  opacity: 1;
}

.projectTitle > .projectName {
  display: inline-block;
  white-space: nowrap;
  width: 0;
}

p {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.subtitle {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}

span.caption {
  font-size: var(--body-text-size);
  font-family: times-new-roman, serif;
  mix-blend-mode: difference;
  grid-column: 1 / -1;
  justify-self: right;
  position: relative;
  bottom: calc(var(--caption-overhang-y) + var(--body-text-size) / 2);
  right: calc(var(--caption-overhang-x) * -1);
  margin-bottom: calc(var(--caption-overhang-y) * -1);

  /* This is a massive hack to support the mix blend mode
   which doesn't work with relative positioning. So we use
   a linear gradient to colour the bit of text that overhangs
   solid black which is what it would be anyway on the white
   background. Only works on the white background.
   */
  background-image: linear-gradient(
    to left,
    #000000 var(--caption-overhang-x),
    #ffffff var(--caption-overhang-x)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  background-repeat: repeat;

  z-index: 99999;
}

article {
  grid-column: 1 / -1;
}

/*
We can't use subgrid here because the main project container
must be a block element so the position sticky works correctly.
So here we're creating another grid with the same column widths
as the main body grid, just fewer of them.
*/
article div.projectContent {
  display: grid;
  grid-template-columns: repeat(16, calc(calc(100vw - 40px) / 20));
}

article div.copy {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
  position: sticky;
  top: calc(50vh + var(--title-size));
  transform: translateY(calc(-50% - var(--title-size)));
  align-self: start;
  margin-bottom: 50em;
}

article div.imagery {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 9;
  grid-column-end: 17;
  grid-row: 1;
  transform: translateY(calc(-50vh));
  cursor: grab;
}

article div.imagery > div {
  max-height: 77vh;
  overflow: hidden;
}

div.blurBorderImage {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 9;
  overflow: hidden;
  align-items: center;
  justify-items: center;
}

div.blurBorderImage > :first-child {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 9;
  filter: blur(40px);
  align-self: center;
  transform: scale(120%);
  max-height: 77vh;
}

div.blurBorderImage > :last-child {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 8;
  width: 100%;
  z-index: 50;
  align-self: center;
}

div.blurBorderImage.fullWidth > img:last-child {
  grid-column-start: 1;
  grid-column-end: 9;
}

div.fullWidthImage {
  grid-column-start: 1;
  grid-column-end: 9;
  width: 100%;
  display: flex;
  align-items: center;
}

div.fullWidthImage > * {
  width: 100%;
}

div.videoWithBackgroundImage {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 9;
  overflow: hidden;
}

div.videoWithBackgroundImage > img {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 9;
  width: 100%;
}

div.videoWithBackgroundImage > video {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 9;
  width: 100%;
}

.heroButton {
  position: relative;
  bottom: 10px;
  background-color: #ffffff;
  height: var(--hero-button-height);
  display: inline-block;
}

.heroButton svg {
  mix-blend-mode: difference;
}

.heroButton svg .icon {
  fill: #ffffff;
  animation: fadeInOut 1s ease-in-out alternate-reverse infinite;
}

.heroButton svg .text {
  fill: #ffffff;
}

.heroButton svg .edge {
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-dasharray: 2 10;
  transition: stroke-dasharray 1s;
}

.heroButton svg:hover .edge {
  stroke-dasharray: 10 10;
}

@keyframes fadeInOut {
  to {
    opacity: 0;
  }
}

#tempImageryPadding {
  grid-column: 1 / -1;
  height: 120px;
  width: 100%;
}

@media screen and (orientation: portrait) {
  :root {
    --title-size: 18px;
  }

  body {
    padding-top: 0;
    grid-template-rows: calc(100dvh - 50px - 30px - 40px) 50px 30px;
    width: calc(100dvw - 40px);
    height: calc(100dvh - 40px);
    align-items: unset;
  }

  nav {
    box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.5);
  }

  .projectTitle {
    position: relative;
    right: -13px;
    top: 46px;
  }

  .projectTitle.first {
    position: fixed;
    top: 40px;
    left: 40px;
    right: unset;
    white-space: nowrap;
    margin-left: 0;
  }

  .projectName.first {
    position: relative;
    right: -20px;
  }

  div.content {
    display: flex;
    grid-row: 1;
    grid-column: 1 / -1;
    width: 100dvw;
    height: calc(100dvh - 50px - 30px - 40px);
    overflow: scroll;
    margin-left: -20px;
    position: relative;
  }

  article {
    display: inline-block;
  }

  article div.projectContent {
    display: flex;
    height: calc(100dvh - 50px - 30px - 40px);
  }

  article div.imagery {
    transform: unset;
    display: flex;
    height: calc(100dvh - 50px - 30px - 40px - 50px);
    width: 100%;
  }

  article div.imagery > div {
    height: calc(100dvh - 50px - 30px - 40px - 50px);
    width: calc(100dvw - 40px);
    flex-shrink: 0;
    overflow: hidden;
  }

  div.blurBorderImage {
    grid-template-columns: repeat(10, calc((100dvw - 40px) / 10));
  }

  div.blurBorderImage > :first-child {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  div.videoWithBackgroundImage > :first-child {
    height: 100%;
  }

  div.blurBorderImage > :last-child {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 9;
    width: 100%;
    z-index: 50;
    align-self: center;
  }

  span.caption {
    display: none;
  }

  article div.copy {
    transform: translateY(calc(100% - 50px));
    position: fixed;
    top: unset;
    bottom: calc(20px + 30px + 50px);
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100dvw - 80px);
    height: 50px;
    overflow: clip;
    background-color: #ffffff;
    z-index: 999;
  }

  .heroButton {
    position: fixed;
    top: unset;
    bottom: calc(20px + 30px + 50px + 50px);
  }

  #tempImageryPadding {
    grid-row: 1;
    width: 20px;
    height: calc(100dvh - 50px - 30px - 40px - 50px);
    object-fit: cover;
  }

  span.bt {
    display: none;
  }

  h1.first > span.bt {
    display: unset;
  }
}
