nav a {
  color: #666666;
}

nav a.active {
  color: #000000;
  font-weight: 700;
  transition: all 0.2s;
}

body {
  padding-top: calc(50vh - var(--title-size));
  grid-template-rows: unset;
  height: unset;
}

.projectTitle {
  position: sticky;
  top: 34px;
  grid-column: 1 / -1;
  margin-top: 0;
  font-family: ArialBold, sans-serif;
  line-height: 120%;
  text-transform: uppercase;
  font-size: var(--title-size);
  z-index: 99;
  mix-blend-mode: difference;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  height: 3em;
  grid-row: 1;
}

.projectTitle > .bt {
  opacity: 0;
}

.projectTitle.first {
  height: 0;
}

.projectTitle.first > .bt {
  opacity: 1;
}

.projectTitle > .projectName {
  display: inline-block;
  white-space: nowrap;
  width: 0;
}

p {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.subtitle {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}

article {
  grid-column-start: 3;
  grid-column-end: 19;
}

/*
We can't use subgrid here because the main project container
must be a block element so the position sticky works correctly.
So here we're creating another grid with the same column widths
as the main body grid, just fewer of them.
*/
article div.projectContent {
  display: grid;
  grid-template-columns: repeat(16, calc(calc(100vw - 40px) / 20));
}

article div.copy {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
  position: sticky;
  top: calc(50vh + var(--title-size));
  transform: translateY(calc(-50% - var(--title-size)));
  align-self: start;
  margin-bottom: 10em;
}

article div.imagery {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 9;
  grid-column-end: 17;
  grid-row: 1;
  transform: translateY(calc(-50vh));
}

article div.imagery > div {
  height: 77vh;
  overflow: hidden;
}

div.blurBorderImage {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 9;
  overflow: hidden;
  align-items: center;
}

div.blurBorderImage > img:first-child {
  grid-row: 1;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 9;
  height: 100%;
  filter: blur(40px);
  align-self: center;
  transform: scale(120%);
}

div.blurBorderImage > img:last-child {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 8;
  width: 100%;
  z-index: 50;
  align-self: center;
}

div.blurBorderImage.fullWidth > img:last-child {
  grid-column-start: 1;
  grid-column-end: 9;
}

/* Top image is 1 column wider and offset by half a column */
div.blurBorderImage.mobile > img:last-child {
  grid-column-start: 1;
  grid-column-end: 8;
  margin-left: calc((calc(100vw - 40px) / 20) / 2);
}

div.fullWidthImage {
  grid-column-start: 1;
  grid-column-end: 9;
  width: 100%;
  align-self: center;
}

div.fullWidthImage > img {
  width: 100%;
}

div.videoWithBackgroundImage {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 9;
  overflow: hidden;
}

div.videoWithBackgroundImage > img {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 9;
  width: 100%;
}

div.videoWithBackgroundImage > video {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 9;
  width: 100%;
}
