@font-face {
  font-family: "ArialBold";
  src: url("../assets/fonts/ArialBold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../assets/fonts/Helvetica-Bold.woff") format("woff");
}

@font-face {
  font-family: "helvetica-light";
  src: url("../assets/fonts/helvetica-light.woff") format("woff");
}

@font-face {
  font-family: "times-new-roman";
  src: url("../assets/fonts/times-new-roman.woff") format("woff");
}

html {
  background: #ffffff;
}

body {
  display: grid;
  grid-template-columns: repeat(20, minmax(0, 1fr));
  grid-template-rows: calc(100vh - 66px);
  padding: 16px;
  margin: 16px;
  border: #000000 1px solid;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  box-sizing: border-box;
  overflow: hidden;
}

.videoContainer {
  grid-column-start: 3;
  grid-column-end: 19;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  position: relative;
  border-radius: 1px;
  height: 80vh;
  width: 100%;
}

.blurOverlay {
  content: "";
  backdrop-filter: blur(70px);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.landingVideo {
  height: 100%;
}

#logo {
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  z-index: 99;
  mix-blend-mode: difference;
  width: 120%;
}

.subtitle {
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  color: #ffffff;
  mix-blend-mode: difference;
  font-size: 12px;
  font-family: times-new-roman, serif;
  transform: translateY(3em);
}

nav {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  margin-top: 2.08vw;
}

nav a {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

nav td {
  padding-bottom: 12px;
}

a.button {
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 11px;
  border: #000000 1px solid;
  border-radius: 1px;
  text-decoration: none;
  color: inherit;
  padding: 8px;
  z-index: 99;
}

a.button.primary {
  color: #ffffff;
  background-color: #000000;
}

a.button.secondary {
  color: #000000;
  background-color: #ffffff;
}

body > .button {
  position: absolute;
}

body > a#projectsButton {
  top: 16px;
  left: 16px;
}

body > a#aboutButton {
  top: 16px;
  right: 16px;
}

body > a#contactButton {
  left: 16px;
  bottom: 16px;
}
body > a#influencesButton {
  right: 16px;
  bottom: 16px;
}

a.button.open {
  color: #ffffff;
  background-color: transparent;
  opacity: 0.8;
}

body > a#aboutButton.open {
  border-bottom: none;
  border-left: none;
}

body > a#contactButton.open {
  border-top: none;
  border-right: none;
}

.hidden {
  display: none;
}

div.popover {
  border-radius: 1px;
  background: rgb(18, 18, 18, 0.75);
  backdrop-filter: blur(30px);
}

div.popover > div {
  max-width: 264px;
  padding: 66px;
  color: #ffffff;
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 120%;
}

div#about {
  position: absolute;
  top: 16px;
  right: 16px;
}

div#contact {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
